*{
    margin:0;
    padding: 0;
}
.smallBox{
    width: 400px;
    height: 400px;
    margin:100px 500px;
}
.box{
    width: 1200px;
    height: 400px;
    margin:0 auto;
}
.text{
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    margin:0 auto;
}
.sign{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin:0 auto;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    line-height:100px ;
}
.msg{
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    margin:20px auto;
}