 * {
                margin:0 auto;
                padding:0;
            }
            .w {
                background-image: url(https://wind-and-rain.oss-cn-beijing.aliyuncs.com/w.png);
                width:1920px;
                height:929px;
                transition: all 1s;
            }
            .z{
                display:flex;
                height:49px;
                width:1920px;
                background-color: #ffffff;
                justify-content:space-between;
            }
            .one {
                margin-left: 25px;
                margin-top:15px;
            }
            .one:hover {
                transform: scale(0.65,0.65);
            }
            .two {              
                height:180px;
                width:200px;
                background-color: #81c04b;
                text-align:center;
                padding-top: 20px;
                transition: all 1s;
            }
            .two:hover {
                transform: scale(0.85,0.85);
            }
            .three {
                margin-top:15px;
                margin-right:15px;
            }
            .three:hover {
                transform: scale(0.65,0.65);
            }
            .w h2 {
                font-size: 60px;
                color: #2a3f17;
                margin-top:230px;
                font-weight: 400;
                text-align: center;
            }
            p {
                font-size: 30px;
                color: #2a3f17;
                margin-left:416px;
                margin-right:400px;
            }
            .four{
                background-color: #2a3f17;
                height:69px;
                width: 262px;
                margin-top:138px;
                margin-left: 415px;
                margin-bottom: 0;
                font-size: 27px;
                text-align: center;
            }
            .e {
                height: 69px;
                font-weight: 400;
                color: #ffffff;
                margin-top: 10px;
                margin-left: 70px;
            }
            .m{
                height: 5px;
            }
            .h{
                display: flex;
                justify-content: center;
            }
            .huo1 {
                margin-left: 402px;
                margin-top: 100px;
                position: relative;
                transition: all 2s;
            }
            .huo1:hover {
                transform:translateY(-20%);
            }
            .huohuo1 {
                position: absolute;
                top: 359px;
                left: 206px;
                font-size: 50px;
                color: #ffffff;
            }
            .huo2 {
                position: relative;
                margin-top: 100px;
                margin-left: 100px;
                flex:2;
                transition: all 2s;
            }
            .huo2:hover {
                transform:translateY(-20%);
            }
            .huohuo2 {
                position: absolute;
                top: 359px;
                left: 170px;
                font-size: 50px;
                color: #ffffff;
            }
            .huo3 {
                position: relative;
                margin-top: 100px;
                margin-left: 0;
                flex:3;
                transition: all 2s;
            }
            .huo3:hover {
                transform:translateY(-20%);
            }
            .huohuo3 {
                position: absolute;
                top: 360px;
                left: 170px;
                font-size: 50px;
                color: #ffffff;
            }
            .b{
                height: 598px;
                width: 1920px;
                background-color: #f8f8f8;
                display: flex;
            }
            .s p {
                width: 850px;
                color: #2a3f17;
                font-size: 23px;
                text-indent:2em;
                position: absolute;
                top: 87px;
                margin-left: 73px;
            }
            .s {
                background-color: #e0dfdf;
                width: 946px;
                height: 539px;
                margin-top: 500px;
                position: relative;
                transition: all 2s;
            }
            .s:hover {
                transform:translateY(-10%);
            }
            .u {
                background-color: #2a3f17;
                height: 65px;
                width: 195px;
                font-size: 30px;
                color: #ffffff;
                text-align: center;
                position: absolute;
                top: 407px;
                left: 373px;
                transition: all 2s;
            }
            .u:hover{
                transform: scale(0.85,0.85);
            }
            .uu {
                height: 9px;
            }
            .L {
                width: 1920px;
            }
            .d {
                height: 2000px;
                width: 1920px;
                background-color: #f8f8f8;
                border-bottom: 5px solid #000000;
            }
            .d1 {
                text-align: center;
            }
            .d1 h4 {
                height: 79px;
            }
            .dd1 {
                color: #2a3f17;
                font-size: 80px;
            }
            .d2 {
                display: flex;
                justify-content: center;
                width: 1145px;
            }
            .dd1{
                width:405px;
                height: 100px;
                margin-bottom: 50px;
            }
            @keyframes kuang{
                0%{
                    border-top: 8px solid #2a3f17;                   
                }
                25%{
                    border-top: 8px solid #2a3f17;
                    border-right: 10px solid #2a3f17;
                }
                75%{
                    border-top: 8px solid #2a3f17;
                    border-right: 10px solid #2a3f17; 
                    border-bottom: 8px solid #2a3f17;                                      
                }
                100%{
                    border: 10px solid #2a3f17;
                }
            }
            .dd1:hover{
                animation-name: kuang;
                animation-duration: 4s;
                animation-fill-mode: forwards;
            }
            .b1 {
                transition: all 1s;
            }
            .b1:hover {
                transform:translateY(-15%);
            }
            .b2 {
                transition: all 1s;
            }
            .b2:hover {
                transform:translateY(-15%);
            }
            .b3 {
                transition: all 1s;
            }
            .b3:hover {
                transform:translateY(-15%);
            }
            .b4 {
                transition: all 1s;
            }
            .b4:hover {
                transform:translateY(-15%);
            }
            .d2 div{
                height: 413px;
                width: 263px;
                background-color: #e0dfdf;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                color: #2a3f17;
            }
            .d2 h1{
                height: 20px;
            }
            .d2 h2{
                font-weight: 500;
            }
            .d2 h3{
                font-weight: 500;
                text-decoration: underline;
            }
            .k {
                text-align: center;
                height: 63px;
                width: 356px;
                border: 3px solid #2a3f17;
                color: #2a3f17;
                font-size: 35px;
            }
            .k h1{
                height: 10px;
            }
            .kk{
                height: 273px;
            }
            .k1 {
                height: 67px;
                transition: all 1s;
            }
            .k1:hover {
                background-color: #2a3f17;
                color: #f8f8f8;
            }
            .ss1 h1 {
                transition: all 1s;
            }
            .ss1 h1:hover {
                transform:translateY(-45%);
            }
            .ss1 h5{
                transition: all 1s;
            }
            .ss1 h5:hover {
                transform-origin:left;
                transform: scale(1.2,1.4);
            }
            .ss {
                display: flex;
                font-size: 35px;
                color: #2a3f17;
            }
            .ss1 h1{
                font-weight: 500;
            }
            .ss1 {
                width: 729px;
            }
            .ss img {
                margin-right: 0;
            }
            .ss1 h5 {
                font-weight: 400;
                font-size: 35px;
            }
            .ss2 {
                width: 70px;
                height: 70px;
                border: 5px solid #2a3f17;
                border-radius: 50%;
                font-size: 60px;
                text-align: center;
                margin: 0;
                padding: 0;
            }
            .sss {
                height: 600px;
                display: flex;
                flex-wrap: wrap;
                align-content: space-around;
            }
            .ss3 {
                margin-top: 30px;
                margin-left: 30px;
                width: 600px;
            }
            .ssss {
                margin: 0;
                display: flex;
                transition: all 2s;
            }
            .ssss:hover {
                transform: translateX(40%);
            }
            .ee {
                height: 455px;
                width: 1920px;
                background-color: #ffffff;
                margin: 0 auto;
                display: flex;
            }
            .e1 {
                color: #2a3f17;
                font-size: 50px;
                line-height: 105px;
                margin-left: 300px;
            }
            .e2 {
                color: #4d5b41;
                font-size: 35px;
                line-height: 60px;
                margin-left: 100px;
                flex: 3;
            }
            .e3{
                flex: 4;
            }
            .e4 {
                width: 361px;
                height: 73px;
                background-color: #949f8b;
                text-align: center;
                font-size: 35px;
                color: #ffffff;
                margin-top: 160px;
                transition: all 1s;
            }
            .e4 h1{
                height: 15px;
            }
            .e4:hover {
                transform: translateY(-80%);
                background-color: #ffffff;
                color: #949f8b;
            }