.typecenter {
  position: absolute;
  top: 250px;
  left: 46%;
  width: 218px;
  height: 250px;
  font-size: 20px;
  background: white
    url(https://hl666888999mm.oss-cn-beijing.aliyuncs.com/QQ%E5%9B%BE%E7%89%8720240126141449.jpg);
}
