<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/vue.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <br>
        <label for="word">
            <input type="text" id="word" v-model="newWord" @keyup.enter="addWord" >
        </label>
        <br>
        <h1>你要输入的单词是：{{newWord}}</h1>
        <button @click="addWord">添加</button>&nbsp;
        <button @click="removeWord">删除</button>
        <br>
        <br>
        <div class="list" :class="{color:words.length>5?true:false}">
            <h2 v-if="words.length>5">鳖加辣！单词数量太多了^ ~ ^</h2>
            &nbsp;&nbsp;&nbsp;单词列表：
            <ul>
                <li v-for="(item, index) in words" :key="item">{{item}}</li>
            </ul>
        </div>
    </div>
    <script src="js/vue.js"></script>
</body>
</html>