<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
</head>
<body>
    <div class="container" >
        <!-- 实现回车键更改数据用@keyup.enter="函数" -->
        <input type="text" @keyup.enter="add(word)" v-model="word">
        <h1>你要输入的内容是:{{ word}}</h1>
        <button @click="add(word)">提交</button>
        <button @click="deleteWord()">删除</button>
        <div :class="{active:isActive()}">
            <h2>
                憋加了，单词数量太多了!
            </h2>
            
            <ul>单词列表：
                <li v-for="word in summary">{{word}}</li>
            </ul>
        </div:>
        
    </div>

    <script src="js/index.js"></script>
</body>
</html>