.red-text {
    color: red;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.app-container {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"] {
    width:200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4c54af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #4c54af;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.word-count-indicator {
    margin-top: 10px;
}
img{
    width: 120PX;
    height: 250px;
}