<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/vue第一次作业.css">
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <h2>你要输入的单词是:{{message}}</h2>
        <button @click="addWord">添加</button>
        <button @click="removeWord">删除</button>
        <div :class="{color:dataList.length>5?true:false}">
        <h2 :class="{apper:dataList.length>5?false:true}">鳖加辣！单词数量太多了</h2>
        <h2>单词列表：</h2>
        <ul>
            <li v-for="item in dataList" :key="item">{{item}}</li>
        </ul>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        
        const app = Vue.createApp({
            data: function() {
                return {
                    message:"",
                    dataList: []
            }
        },
        methods: {
            addWord() {
                this.dataList.push(this.message)
                this.message = ''
            },
            removeWord() {
                this.dataList.pop();
                console.log("remove")
            }
        }
    })
        app.mount("#app")
    </script>
</body>
</html>