body {
    height: 500px;
    background-color: pink;
}
.box {
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    height: 250px;
    width: 500px;
    background-color: #FF69B4;
    border: 3px solid black ;
    

}
.first {
    height: 50px;
    width: 400px;
    margin-left: 20px;
    /* background-color: #fff; */
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
}
#email,
#password {
    border: 2px solid black;
}
.second,
.three,
.four,
.five {
        height: 50px;
        width: 400px;
        margin-left: 20px;
        /* background-color: #fff; */
}
input {
    outline: 0;
    height: 30px;
    width: 300px;
    margin-top: 10px;
    
}
.three {
        font-size: 25px;
        font-weight: 500;
            line-height: 50px;
}
button {
    height: 30px;
    margin-top: 5px;
    font-size: 20px;
}