@font-face {
  font-family: "iconfont"; /* Project id 4355890 */
  src: url('iconfont.woff2?t=1703050392493') format('woff2'),
       url('iconfont.woff?t=1703050392493') format('woff'),
       url('iconfont.ttf?t=1703050392493') format('truetype');
}

.iconfont1 {
  font-family: "iconfont" !important;
  font-size: 33px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  color:rgba(0, 0, 0, 0.603);
  top:5px;
  right: 3px;
}

.icon-31sousuo:before {
  content: "\e600";
}

