* {
    margin: 0;
    padding: 0;
}
body {
    background-color: pink;
    width: 100%;
    height: 100%;
    background: url(https://bulalal.oss-cn-beijing.aliyuncs.com/%E6%98%9F%E7%A9%BA%E5%92%8C%E5%B1%B1.jpg) no-repeat ;
    background-size: cover;
    /* background-attachment: fixed; */
}
.container {
    width: 20%;
    height: 360px;
    background-color: #00000060;
    margin: auto;
    margin-top: 11%;
    text-align: center;
    box-shadow: 6px 5px 20px gray;
    border-radius: 6px;
    /* padding: 50px; */
}
.box {
    position: relative;
    height: 80px;
    /* background-color: rgb(red, green, blue); */
}

button {
    height: 50px;
 
    background-image: -o-linear-gradient(to right,#30cfd0,#330867);
    border-radius: 10px;
}
input {
    margin-top: 8%;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    width: 220px;
    height: 25px;
    outline: none;
}
.three {
    position: absolute;
    top: 0;
    left: 40px;
    height: 23px;
    width: 60px;
}
p {
    position: absolute;
    left: 40px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
button {
    position: absolute;
    height: 25px;
    width: 50px;
    top: 23px;
    right: 100px;
}