        * {
            margin: 0;
            padding: 0;
        }

        .box {
            position: relative;
            display: flex;
            transform: translate(-50%);
            margin-top: 300px;
            left: 50%;
            height: 350px;
            width: 300px;
            background-color: #000;
            flex-direction: column;
            align-items: center;
        }

        .Logpage {
            position: absolute;
            top: 40px;
        }

        .Logwords {
            font-weight: 700;
            font-size: 28px;
            color: bisque;
        }

        .box .words {
            color: #f5f5f5;
        }

        .email {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 120px;
        }

        .passwords {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 170px;
        }

        .words {
            font-size: 18px;
            font-weight: 700;
        }

        .log {
            position: absolute;
            top: 250px;
            width: 150px;
            height: 60px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.5);
            letter-spacing: 3px;
            border-top: 0.5px solid rgba(255, 255, 255, 0.35);
            border-left: 0.5px solid rgba(255, 255, 255, 0.35);
            padding-left: 40px;
            transition: 0.5s;
        }

        .log:hover {
            padding-left: 0px;
            padding-right: 40px;
            color: rgba(255, 255, 255, 1)
        }

        .log span {
            position: absolute;
            left: 5px;
            width: 50px;
            height: 50px;
            background: #04fe4d;
            border-radius: 50%;
            transition: 0.5s ease-in-out;
        }

        .log:hover span {
            left: calc(100% - 55px);
        }