@font-face {
  font-family: "iconfont"; /* Project id 4373317 */
  src: url('iconfont.woff2?t=1702539199905') format('woff2'),
       url('iconfont.woff?t=1702539199905') format('woff'),
       url('iconfont.ttf?t=1702539199905') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e623";
}

.icon-gengduo:before {
  content: "\e896";
}

