.wugui{
	position: relative;
	width: 100%;
	margin: 0px auto;
}
.camera{
	position: absolute;
	width: 160px;
	height: 130px;
	left: 50%;
	top: -20px;
	background-color: #81c04b;
}
.camera img{
	margin-left: 23px;
	margin-top: 25px;
}
.img2{
	position: absolute;
	width: 633px;
	height: 70px;
	left: 30%;
	top: 150px;
}
.img3{
	position: absolute;
	width: 633px;
	height: 70px;
	left: 15%;
	top: 220px;
}
.expiore{
	position: absolute;
	width: 180px;
	height: 80px;
	left: 35%;
	top: 650px;
	font-size: 30px;
	background-color: #2a3f17;
	color: white;
}
.expiore1{
	position: absolute;
	width: 180px;
	height: 80px;
	line-height: 80px;
	margin-left: 25px;
}
.img4{
	position: absolute;
	background-color: red;
	width: 200px;
	height: 200px;
    left: 15%;
	bottom: -100px;
}
.img5{
	position: absolute;
	background-color: red;
	width: 200px;
	height: 200px;
	left: 40%;
	bottom: -100px;
}
.img6{
	position: absolute;
	background-color: red;
	width: 200px;
	height: 200px;
	left: 65%;
	bottom: -100px;
}
.second{
	position: relative;
	top: 600px;
	background-color: red;
}
.second1{
	position: absolute;
	width: 730px;
	height: 300px;
	top: -70px;
	left: 30%;
	background-color: #e0dfdf;
}
.second2{
	position: absolute;
	width: 640px;
	height: 170px;
	top: 0px;
	margin-left: 40px;
	margin-top: 12px;
}
.second3{
	position: absolute;
	width: 100px;
	height: 60px;
	top: 100px;
	margin-left: 40px;
	margin-top: 120px;
	background-color: #2a3f17;
	left: 40%;
	font-size: 20px;
	/*line-height: 20px;*/
}
.second3 a{
	display: inline-block;
	margin-top: 13px;
	margin-left: 12px;
	color: white;
	text-decoration: none;
}
