@font-face {
  font-family: "iconfont"; /* Project id 4355245 */
  src: url('iconfont.woff2?t=1702535456288') format('woff2'),
       url('iconfont.woff?t=1702535456288') format('woff'),
       url('iconfont.ttf?t=1702535456288') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 50px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo-xian:before {
  content: "\e7a5";
}

.icon-tianjia-liebiao:before {
  content: "\e7a6";
}

