@font-face {
  font-family: "iconfont"; /* Project id 4374506 */
  src: url('iconfont.woff2?t=1702614131542') format('woff2'),
       url('iconfont.woff?t=1702614131542') format('woff'),
       url('iconfont.ttf?t=1702614131542') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  color: grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ego-caidan:before {
  content: "\e62f";
}

.icon-sousuo:before {
  content: "\e60c";
}

