<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .col {
    color: red;
  }
</style>

<body>
  <div id="app">
    <input type="text" v-model="message"><br>
    <button @click="addword">确认</button>
    <button @click="quitword">删除</button>
    <h2>你要输入的单词是{{message}}</h2>
    <h2 v-if="words.length >= 5">别加辣，太多了要溢出来了</h2>
    <ul>
      <li v-for="item in words" :class="{col:words.length >= 5}">{{ item }}</li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const app = Vue.createApp({
      data: function () {
        return {
          message: '',
          words: []
        }
      },
      methods: {
        addword() {
          this.words.push(this.message)
          this.message = ''
        },
        quitword() {
          this.words.pop()
        }
      }
    })
    app.mount('#app')
  </script>
</body>

</html>