
* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./background.jpg) no-repeat;
    background-size: cover;
}

.box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputbox1,.inputbox2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    outline: none;
}

.inputbox1 span,.inputbox2 span{
    position: absolute;
    left: 20%; margin-left: -16px; 
    top: 50%; margin-top: -30px;
    padding: 8px;
    font-size: 1em;
    pointer-events: none;
    color: #ccc;
}

.inputbox1 input:valid ~ span,
.inputbox1 input:focus ~ span 
.inputbox2 input:valid ~ span,
.inputbox2 input:focus ~ span{
    color: red ;
    transform: translateX(6px) translateY(-4px);
    font-size: 0.8em;
    padding: 0 8px;
}
.inputbox1 span,.inputbox2 span{
    transition: all 0.5s;
}

.span{
    width: 100%;
    height: 40px;
}

.button{
    width: 120px;
    height: 35px;
    border: 1px solid rgba(197, 81, 58, 0.8);
    background: rgba(197, 81, 58, 1);
    color: rgba(255, 255, 255, 0.9);
}

