.string
{
    margin:auto;
    position:relative;
    top:200px;
    width: 500px;
    height: 300px;
    background-color: aqua;
    border: 3px solid black;
}
.string.submit
{
    background-color: blue;
}