body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.victory {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px b25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    color: white;
}
img {
    width: 150px;
    height: 150px;
}
.victory div {
    font-size: 30px;
}