body
{
    background-image: url("https://miandianyaowang.oss-cn-beijing.aliyuncs.com/%E5%B1%8F%E5%B9%95%E6%88%AA%E5%9B%BE%202024-02-01%20160442.png");
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.login
{
    position: relative;
    width:600px;
    height:300px;
    top:200px;
    background:black;
    margin:auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
}
.login::after
{
    content:"";
    position: absolute;
    width: 1000px;
    height:1000px;
    background-image: conic-gradient(transparent,transparent,transparent,purple);
    animation: animate 4s linear infinite;
    animation-delay: 2s;
}
.login::before {
    content: "";
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: animate 4s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }

}
.login span
{
    position: absolute;
    inset: 5px;;
    background:black;
    border-radius: 16px;
    z-index: 1;
} 
#loginform
{
   
   z-index: 2;
}
input
{
    width: 200px;
    height: 50px;
    border-radius: 20px;
}
button
{
    border-radius: 20px;
    width:200px;
    height:60px;
    border:1px solid white;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0;
    transition: 1s ease-in-out;
}
@keyframes button {
    0% {
        background-color: rgb(96, 145, 96);
        color: white;
    }

    100% {
        background-color: white;
        color: rgb(96, 145, 96);
    }
}

button:hover {
    animation-name: button;
    animation-duration: 2s;
    transform: translateY(-20px);
}
#result
{
    position: relative;
    width: 600px;
    height:200px;
    top:100px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top:100px;
    border:1px solid black;
    border-radius: 20px;
}
